<template>
  <login-painel>
    <form action="../../index2.html" method="post">
      <span>Você receberá um e-mail com instruções de como resetar sua senha.</span>
      <br><br>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
    </form>
    <button type="submit" class="btn btn-block btn-flat">Enviar</button>
    <br>
    <a :href="'/login'">
      Voltar
    </a>
  </login-painel>
</template>

<script>
import LoginPainel from '@/pages/login/components/LoginPainel';
export default {
  name: 'Registrar',
  components: {
    LoginPainel,
  },
};
