<template>
  <login-painel>
    <form action="../../index2.html" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Continuar conectado
        </label>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <br>
    <a :href="'/senha'">
      Esqueceu a senha ?
    </a>
    <br>
    <a :href="'/registrar'">
      Registre-se aqui
    </a>
  </login-painel>
</template>

<script>
import LoginPainel from '@/pages/login/components/LoginPainel';
export default {
  name: 'Login',
  components: {
    LoginPainel,
  },
};
