<template>
  <login-painel>
    <form action="../../index2.html" method="post">
      <br>
      <div class="perfil">
        <img class="profile-user-img img-responsive img-circle circle-img-size" :src="url || urlImgDefault" alt="User profile picture">
        <br>
        <button class="btn btn-file btn-block btn-flat">
          Imagem de perfil
          <input type='file' accept='image/*' id='file-input' @change="previewImage"/>
        </button>
      </div>
      <br>
      <div class="form-group has-feedback">
        <label>Nome</label>
        <input type="email" class="form-control" placeholder="Informe nome completo">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Informar Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label>Confirmar Email</label>
        <input type="email" class="form-control" placeholder="Repetir Email informado">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label>Senha</label>
        <input type="email" class="form-control" placeholder="Informa a senha">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
          <div class="form-group has-feedback">
            <label>CPF</label>
            <input type="email" class="form-control" placeholder="Informe o CPF">
          </div>
          <div class="form-group has-feedback">
            <label>CBO</label>
            <select selected class="form-control" >
              <option> -- Selecione o Codigo do CBO -- </option>
              <option v-for="i in listaCbo" :key="i.index">
                {{i.CD_CBO}} - {{i.DS_CBO.length > 30 ? i.DS_CBO.substring(0,30) + " ..." : i.DS_CBO}}
              </option>
             </select>
        </div>
    </form>
    <br>
    <button type="submit" class="btn btn-block btn-flat">Registrar</button>
    <br>
    <a :href="'/login'">
      Voltar
    </a>
  </login-painel>
</template>

<script>
import LoginPainel from '@/pages/login/components/LoginPainel';
import _imgDefault from '@/assets/images/img-perfil-defalt.jpg';
import listaCbo from '@/components/util/listCbo.js';

export default {
  name: 'Registrar',
  data() {
    return {
      url: null,
      urlImgDefault: _imgDefault,
      listaCbo,
    };
  },
  methods: {
    previewImage(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
    },
  },
  components: {
    LoginPainel,
  },
};
</script>
<style>
.perfil{
    width: 50%;
    margin: 0 auto;
}
.circle-img-size {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}
</style>

