<template>
  <header class="main-header">
    <!-- Logo -->
    <a v-link="{ path: '/' }" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>MV</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b><span class="logo-mv">mv</span>rempmed</b></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li>
            <a href="#">
              <span>Abril/2018</span>
              <i class="fa fa-calendar">
              </i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-cog"></i></a>
          </li>
          <li>
            <a href="#" data-toggle="control-sidebar">
              <i class="fa fa-bell"></i>
              <span class="label label-danger">9</span>
            </a>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
  export default {
    name: 'Header',
    data() {
      return {
      };
    },
  };
</script>
