<template>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="~assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#">Cargo aqui</a>
        </div>
      </div>
 <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="treeview" v-for="row in menus" :key="row.id">
          <a v-link="{ path: row.link }">
            <i class="fa {{ row.icon }}"></i>
            <span>{{ row.name }}</span>
           <i class="fa fa-angle-left pull-right"></i>
          </a>

          <ul v-show="row.hasOwnProperty('child') && typeof row.child.length != 'undefined'" class="treeview-menu">
            <li v-for="child in row.child" :key="child.id">
              <a v-link="{ path: child.link }">
                <i class="fa {{ child.icon }}"></i> {{ child.name }}
              </a>
            </li>
          </ul>

        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
  export default {
    name: 'Sidebar',
    data() {
      return {
        menus: this.$parent.$data.menus || [],
      };
    },
    ready() {
    },
  };
</script>
