<template>
   <div>
      <span class="text-cinza"><b>Acesso rápido</b></span>
      <div class="box-body" style="border: 1px solid #cccccc;">
         <table class="table">
            <tbody>
               <tr class="tr-topo text-azul">
                  <th>HOSPITAL</th>
                  <th>A RECEBER</th>
                  <th>CONFIRMADO</th>
               </tr>
               <tr>
                  <td>Leforte Liberdade</td>
                  <td>R$ 57.550</td>
                  <td>R$ 23.000</td>
               </tr>
               <tr>
                  <td>Leforte Bandeirantes</td>
                  <td>R$ 57.550</td>
                  <td>R$ 23.000</th>
               </tr>
               <tr>
                  <td>Hospital Abcde</th>
                  <td>R$ 57.550</th>
                  <td>R$ 23.000</th>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</template>
<script>
  export default {
    name: 'AcessoRapido',
    data() {
      return {
      };
    },
  };
</script>
<style scoped>
.tr-topo{
  border-style: none !important;
  border: none !important;
}
tr{
  border-top: 2px solid #cccccc57;
}
.text-cinza{
  color: #666666 !important;
  padding: 5px;
}
.text-azul{
  color: #4375A3 !important;
}
</style>

