<template>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-15 col-sm-6 col-xs-12">
          <div class="info-box-content">
            <span class="info-box-text">Produção</span>
            <span class="info-box-number">12</span>
          </div>
        </div>
        <div class="col-md-15 col-sm-6 col-xs-12">
          <div class="info-box-content">
            <span class="info-box-text">Faturado</span>
            <span class="info-box-number">12</span>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-15 col-sm-6 col-xs-12">
          <div class="info-box-content">
            <span class="io-box-text">A Receber</span>
            <span class="info-box-number">760</span>
          </div>
        </div>
        <div class="col-md-15 col-sm-6 col-xs-12">
          <div class="info-box-content">
            <span class="info-box-text">Glosa</span>
            <span class="info-box-number">160</span>
          </div>
        </div>
        <div class="col-md-15 col-sm-6 col-xs-12">
          <div class="info-box-content">
            <span class="info-box-text">Histórico</span>
            <span class="info-box-number">160</span>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'boxbord',
};
</script>
<style scoped>
.info-box-content {
  margin-left: 5px;
  border: 1px solid #ccc !important;
}
.info-box-number {
  font-size: 35px;
}
/*Declaração inicial*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

/*Medias queries */
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
</style>

