<template>
    <div><span class="text-cinza"><b>Acesso rápido</b></span>
   <div class="box-body" style="border: 1px solid #cccccc;">

    </div>
    </div>
</template>

<script>
  export default {
    name: 'UltimasNotificacoes',
    data() {
      return {
      };
    },
  };
</script>
<style scoped>
</style>

