<template>
<div v-if="login">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <app-content :title="title"></app-content>

  <app-notification></app-notification>
</div>
<div v-else>
  <router-view><router-view>
</div>
</template>

<script>
import AppHeader from '@/pages/layouts/Header';
import AppSidebar from '@/pages/layouts/Sidebar';
import AppContent from '@/pages/layouts/Content';
import AppNotification from '@/pages/layouts/Notification';
import AppLogin from '@/pages/login/Login';
import Menus from './../config/menus';

export default {
  name: 'App',
  data() {
    return {
      login: false,
      title: null,
      menus: Menus,
    };
  },
  replace: false,
  components: {
    AppHeader,
    AppSidebar,
    AppContent,
    AppLogin,
    AppNotification,
  },
};
</script>

<style src="../static/adminLte/css/skins/mv-flow-skins.css"></style>
<style src="../static/adminLte/css/AdminLTE.css"></style>
